
/* 
    Author name : Shafiq Suhag
    Author URL : https://github.com/shafiqSuhag
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* ----------------------------------------------------
                    Common Styles
----------------------------------------------------*/
body{
    /* reset styles */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

.watch-link{    
    background-color: #E02C6D;
    margin-top: 10px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.fa-arrow-right{
    margin-left: 8px;
}
.watch-link:hover .fa-arrow-right{
    transform: translate(10px) rotate(180deg);
    transition: transform 1s;
}


/* ----------------------------------------------------
                    Navigation
------------------------------------------------------*/

/* navigation menu  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 156px;
    padding-right: 140px;
    padding-top: 42px;
}
.login-button{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.login-button:hover{
    color: #E02C6D;
    background-color: #ffffff;
    
}
.main-menu-container ul{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.menu-padding{
    padding-left: 36px;
}
.main-menu-container li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-menu{
    text-decoration: none;
    color: white;
}
.main-menu:hover {
    text-decoration: none;
    color: #E02C6D;
}

.mobile-menu{
    display: none;
}


/* --------------------------------------------------------
                Header Content Section
-------------------------------------------------------- */
header{
    background-color: #2D25A0;
}
.header-container{
    display: flex;
    padding-left: 156px;
    padding-right: 140px;
    padding-top: 135px;
    padding-bottom: 86px;
}
.header-details, .header-image {
    width: 50%;
}
/* header title */
.header-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-details h2{
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    margin: 0 0 27px 0;
}
.header-image{
    transition: 400ms ;
}
.header-image:hover{
    transform: translate(-100px, -100px) rotate(10deg);
    transition: 400ms ;
}
.header-image img{
    width: 100%;
}


/* ----------------------------------------------------
                    Blog Posts Section
--------------------------------------------------------*/

section.blog-posts{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 180px;
    padding-right: 210px;
    padding-top: 70px;
}
.blog-container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 27px;
}
/* article : player */
article{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
article img{
    width: 100%;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
}
.player-details{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
}


/* ----------------------------------------------
            Post Highlight Section 
------------------------------------------------ */
.post-highlight{
    display: flex;
    padding-right:156px;
    padding-left: 182px;
    padding-top: 165px;
    padding-bottom: 158px;
}
/* column positioning */
.post-highlight-details , .post-highlight-image{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-highlight-title{
    font-weight: 700;
    font-size: 48px;
    color: #0A0826;
    margin: 0 ;
}

.post-highlight-description{
    
    font-weight: 400;
    font-size: 16px;
    color: #6C6C6C;
    margin: 0 0 10px 0 ;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-right: 130px;   
}
.post-highlight-image img{
    width: 100%;
}



/* ------------------------------------------------
                    FOOTER STYLES
--------------------------------------------------*/
footer{
    padding-bottom: 63px;
}
.footer-logo{
    display: flex;
    justify-content: center;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
    margin: 20px 0px;
}
.footer-icons{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.footer-icons a:hover {
    border: 1px solid #10437A;
    transition: border 1s;
}
.footer-icons a{
    text-decoration: none;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #E7E7E8;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid #ffffff ;
}

/* font-awsome icon */
.footer-icons .fab{
    color:#969BAB;   
}
.icon-padding {
    margin-left: 14px;
}
.footer-copyright{
    text-align:center;
}


/* ------------------------------------------------------------------------------
                                Extra Sections Styles
------------------------------------------------------------------------------ */

/* ------------------------------------------------ 
                    League Section
------------------------------------------------ */


.league-section{
    padding-left: 156px;
    padding-right: 156px;
    display: flex;
}


/* League Table */
.league-table{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}
.team-position-container{
    width: 100%;
    box-shadow: 0 0 50px rgba(85, 76, 76, 0.301);
    border-radius: 10px;
    margin: 0 10px 0 10px;    
}
.team-position-head{
    display: grid;
    grid-template-columns: 6fr repeat(3, 1fr);
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6e65652f;
}
.team-position{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr repeat(3, 1fr);
    color: #6C6C6C;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6e65652f;

}
/* team position inside text  */
.no, .team{
    padding-left: 5px;
}
.win, .lost{
    text-align: center;
}
.gb{
    text-align: center;
}


/*             video highlight Section
------------------------------------------------*/
.video-highlight-container{
    width: 77%;
    position: relative; /* use this postion to hold the position of iframe properly over image */
}
.video-highlight{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px #7ca3b9d9;
    border-radius: 10px;   
}
.video-highlight img{
    opacity: 0.5;
    border-radius: 6px;
    left:0;
    top :0;
    z-index: 10;        /* position behind iframe */
    width: 100%;
    height: 400px;
}
.video-highlight iframe{
    position: absolute;
    z-index: 11;
    border-radius: 10px;
}

/* ------------------------------------------------
                Photo Gallery Section 
------------------------------------------------*/
.photo-gallary-container{
    padding: 156px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo-gallery-title{
    text-align: left;
}
.photo-gallary{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5px;
    row-gap: 5px;
   
}
.photo-gallary img{
    width: 245px;
    height: 245px;
    border-radius: 6px;
    padding: 0;

}

.photo img{
    border-radius: 6px;
    border-bottom: 4px solid white;
     
    
}
.photo:hover img{
    transform: translate(0, -10px);
    transition: transform 500ms;
    padding-bottom: 7px;
    border-bottom: 4px solid #2D25A0;   
    position: absolute;    
}


/* -----------------------------------------------------------------------
                    Responsive Styles
-----------------------------------------------------------------------*/


/* media quireies for phone */
@media screen and (max-width:688px) {

    /* common style  */
    .watch-link{
        font-weight: 400;
    }

    /* nav menu styels */
    nav{
        padding-top: 33px;
        padding-left: 16px;
        padding-right: 21px;
        padding-bottom: 46px;
    }
    
    /* mobile menu */
    .mobile-menu{
        display: block;
        color: white;
    }
    .main-menu-container ul{
        display: none;
    }
    .main-menu-container:hover ul{
        position: absolute;
        display: block;
        width: 90%;
        background-color: white;
        margin: 10px 0 0 0;
        padding: 40px 0 50px 0;
    }
    .main-menu-container ul li{
        border-bottom: 1px solid #6e65652f;
        border-left: 2px solid #6e65652f;
    }
    
    .menu-padding{
        padding-left: 0;
    }
    .main-menu{
        color: black;
        padding-left: 10px;
       
    }
    

    /* header section responsiveness */

    .header-container{
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    .header-details, .header-image {
        width: 100%;
       
    }
    .header-image img{
        padding-left: 16px;
        width: 329px;
        height: 260px;
    }
    
    .header-details{
        padding-left: 16px;
        margin-bottom: 50px;
    }
    .header-container h2{
        font-size: 36px;
    }
    

    /* blog section responsiveness */
    .blog-container{
        grid-template-columns: repeat(1,1fr);
    }
    
    section.blog-posts{
        
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 47px;
    }
    article img{
        width: 300px;
        height: 256px;
        margin-bottom: 16px;
    }
    article h3{
        font-size: 28px;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .player-details{
        margin-top: 0;
        margin-bottom: 18px;
    }

    /* post highlight */
    .post-highlight{
        padding: 60px 15px 43px 15px;
        flex-direction: column;
    }
    .post-highlight-details , .post-highlight-image{
        width: 100%;
    }
    
    .post-highlight-title{
        font-size: 30px;
        padding-bottom: 8px;
    }
    .post-highlight-description{
        font-size: 16px;
        padding: 0 0 24px 0 ;
    }
       
    .post-highlight-image{
        margin-top: 29px;
    }



    /* ------------------------------------------------------------------------------
                                Extra Sections Styles : Responsiveness
    ------------------------------------------------------------------------------ */
    /* league section styles */
    .league-section{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .league-table{
        width: 100%;
    }
    /* video highlight styles */
    .video-highlight-container{
        width: 90%;
        position: relative;
        padding-top: 43px;
    }
    .video-highlight iframe{
        width: 95%;
    }
    /* photo galler */
    .photo-gallary-container{
        padding-top: 43px;
        padding-bottom: 43px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .photo-gallary{
        grid-template-columns: repeat(2, 1fr);  
    }
    .photo-gallary img{
        width: 175px;
        height: 175px;
    }

    /* Footer Responsive */
    .footer-logo img{
        width: 91%;
        margin: 0;
        padding: 0 15px 29px 15px ;
    }
    .footer-icons{
        padding-top: 0;
    }

}